.vertical-icons {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 15;
}
.iphone-icon-vertical {
  width: 15px;
  height: 29px;
  background-color: #707070;
}
.mac-icon-vertical {
  margin-top: 20px;
  width: 27px;
  height: 23px;
  background-color: #ffffff;
}
.watch-icon-vertical {
  margin-top: 20px;
  width: 19px;
  height: 31px;
  background-color: #707070;
}
