.nav {
  height: 100px;
  width: 100%;
  background-color: beige;
  display: inline-flex;
}
.nav-logo-container {
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: black;
  text-align: center;
}
.nav-logo {
  margin-top: 20px;
  width: 60px;
  height: 60px;
}
.nav-links {
  display: inline-flex;
}
.nav-link {
  align-self: center;
  justify-content: center;
  top: 40px;
  height: 28px;
  text-align: left;
  font-family: poppins;
  font-size: 20px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  text-decoration: none;
}
.iphone {
  margin-left: calc(100vw - 650px);
}
.macbook {
  margin-left: 40px;
}
.watch {
  margin-left: 40px;
}
.notify {
  padding: 4px 20px;
  border-radius: 17px;
  background-color: rgb(62, 180, 219);
  color: white;
  margin-left: 40px;
}
